*{
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    background: rgb(0,0,0);
    background: linear-gradient(215deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,0.7429241960456057) 100%, rgba(0,0,0,1) 100%);
}

.textPrincipal{
    color: rgb(206, 202, 202); 
}

.imgPrincipal{
    color: white;
    border-color: white;
}

.footer_social{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
}

.footer_link{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link:hover{
    transform: scale(1.10, 1.10);
    box-shadow: 0px 2px 8px rgba(12, 0, 0, 0.5);
    transition: .3s linear;
}

.footer_icon{
    width: 40px;
}