<link rel="stylesheet" href="../app/app.component.css">
<div class="container p-5">
    <div class="row">
        <div class="col-lg-4 text-white text-center py-4 rounded principal">
            <div class="header-left">
                <img src="../assets/img/FotoHV.jpeg" alt="" class="img-thumbnail rounded-circle mb-2">
                <h1 class="display-5">{{nombre}}</h1>
                <h4 class="lead text-uppercase text-white-50 mb-4">Junior Engineer</h4>
            </div>
            <div >
                <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Contacto</h5>

                <ul class="list-unstyled  ml-5 py-2 text-left textPrincipal">
                    <li class="list-item ">
                        <img src="../assets/img/iconmonstr-phone-thin.svg" alt="" class="imgPrincipal">
                        +57 313 443 1273
                    </li>
                    <li class="list-item">
                        <i class="fa-duotone fa-phone"></i>
                        santiqb2014@gmail.com
                    </li>
                    <li class="list-item">
                        <i class="fa-duotone fa-phone"></i>
                        El Rosal, Cundinamarca
                    </li>
                </ul>
            </div>

            <div>
                <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Habilidades</h5>
                <ul class=" list-unstyled ml-5 py-7 text-left textPrincipal">
                    <li class="list-item">Respetuoso</li>
                    <li class="list-item">Conciencia situacional</li>
                    <li class="list-item">Trabajo en equipo</li>
                    <li class="list-item">Concentración</li>
                    <li class="list-item">Adaptabilidad</li>
                </ul>
            </div>

            <div>
                <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Educacion</h5>
                <ul class="list-unstyled textPrincipal ml-5 py-2 text-left">
                    <li class="list-item">U. Jorge Tadeo Lozano.  2017 - Actualidad</li>
                </ul>
            </div>

            <div>
                <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Referencias Personales</h5>
                <ul class="list-unstyled textPrincipal ml-5 py-2 text-left">
                    <li class="list-item">David Sebastian Lozano - 310 223 5812</li>
                    <li class="list-item">Luz Aide Ramirez - 310 758 4975</li>
                    <li class="list-item">Maria Consuelo Beltran - 311 521 9061</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 bg-light text-dark py-1 px-5">
            <div class="header-right">
                <h4 class="text-uppercase">Perfil</h4>
                <hr>
                    <p>
                    Soy una persona que se destaca por ser lo más profesional posible con las labores que se le plantean, mis
                    gustos por el aprendizaje me llevan a considerarme un buen trabajador que puede dar con la solución a la
                    gran mayoría de retos que se me presenten y además estoy en constante mejoramiento de ámbitos
                    personales como laborales.
                    </p>
            </div>

            <div>
                <h4 class="text-uppercase">Experiencia Laboral</h4>
                <hr>
                <ul class="list">
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">Practicante</h5>
                        <h6 class="text-uppercase text-black-50">Recuaudo Bogota SAS/ 2021</h6>
                        <p>Administracion de directorio activo, gestion de casos internos, desarrollo e implemetacion de solucion web basado en la nube,
                            informes
                        </p>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">Analista infraestructura</h5>
                        <h6 class="text-uppercase text-black-50">ITNEC SAS / 2022</h6>
                        <p>Apoyo en mantenimiento de switches, seguridad de la información, administracion de plataformas municipales,
                            implementacion de servicios de inventario web
                        </p>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">Junior Engineer</h5>
                        <h6 class="text-uppercase text-black-50">NttData Colombia / Actualidad</h6>
                        <p>Parcitipación en semillero de FullStack
                        </p>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="text-uppercase">Habilidades</h4>
                <hr>
                <ul class="list">
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">HTML</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
                        </div>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">JAVA</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
                        </div>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">OFFICE 365</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:65%">65%</div>
                        </div>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">PHP</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
                        </div>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">SQL</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="text-uppercase">Idiomas</h4>
                <hr>
                <ul class="list">
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">Ingles</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%">50%</div>
                        </div>
                    </li>
                    <li class="list-item">
                        <h5 class="display-6.5 text-uppercase">Español</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%">80%</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="text-uppercase">Contacto</h4>
                <hr>
                <div class="btn-toolbar footer_social" role="toolbar">
                    <div class="btn-group footer_link">
                        <a href="" target="_blank"> <img src="../assets/img/facebook.svg" alt="" class="footer_icon"> </a>
                    </div>
                    <div class="btn-group footer_link">
                        <a (click)="showModal()"> <img src="../assets/img/linkedin.svg" alt="" class="footer_icon"> </a>
                    </div>
                    <div class="btn-group footer_link">
                        <a href="" target="_blank"> <img src="../assets/img/iconmonstr-twitter-1.svg" alt="" class="footer_icon"></a>
                    </div>
                    <div class="btn-group footer_link">
                        <a href="" target="_blank"> <img src="../assets/img/instagram.svg" alt="" class="footer_icon"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

